<hr>
<div class="col">
    <div class="row">
        <i>Sirve como su nombre indica para construir una directiva personalizada es decir en vez de usar una directiva existente como  ngClass o *ngIf podemos construir nuestras
             propias directivas y aumentar la extensibilidad de nuestro código.</i>

    </div>
    <div class="row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Type only numbers</mat-label>
            <input matInput autocomplete="off" type="text" numbersOnly>
        </mat-form-field>

    </div>
</div>