<h2>¿Que es una directiva?</h2>
<p>
    Las Directivas extienden la funcionalidad del HTML usando para ello una nueva sintaxis.
    Con ella podemos usar lógica que será ejecutada en el DOM (Document Object Model).
</p>

<h3><b>Tipos de directivas:</b></h3>

<div class="card">
    <span>Directivas de atributo</span>

    <ul>
        <li>
            <app-ng-model-example></app-ng-model-example>
        </li>
        <li>
            <app-ng-class-example></app-ng-class-example>
        </li>
    </ul>

</div>
<hr>
<div class="card">
    <span>Directivas estructurales</span>
    <app-structure-dir-example></app-structure-dir-example>
</div>
<hr>
<div class="card">
    <span>Directivas personalizadas</span>
    <app-custom-dir-example></app-custom-dir-example>
</div>




