<div class="col">
    <div class="row cont-img">
        <img src="../../../../assets/serv.jpeg" alt="">

    </div>
    <div class="row">
        <i>
            Básicamente un servicio es un proveedor de datos, que mantiene lógica de acceso a ellos y operativa relacionada con el negocio y las cosas que se hacen con los
             datos dentro de una aplicación. Los servicios serán consumidos por los componentes, que delegarán en ellos la responsabilidad de acceder a la información y la realización de operaciones con los datos.
        </i>
    </div>
    <hr>
    <div class="row">
        <app-students-table class="service-comp"></app-students-table>

    </div>
</div>

